<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-valmontmobileapp-dev-cus-001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f880e7b6-0889-4cb2-8aa5-4bb6d54951de/resourceGroups/Valmont-mobile-app/providers/Microsoft.Web/sites/func-valmontmobileapp-dev-cus-001</ResourceId>
    <UserName>$func-valmontmobileapp-dev-cus-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-valmontmobileapp-dev-cus-001.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>