<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Storage" value="DefaultEndpointsProtocol=https;AccountName=stvalmontappdevcus001;AccountKey=hxLhSzlThr8Yj3UXB2geYOKrnfeAKdPEaE4oA8+KUMr8R9UGaS0Mo0uLjkDKiikYUJuoWKM3+4kX+ASttd8C6A==;EndpointSuffix=core.windows.net" />
    <add key="containerKey" value="hxLhSzlThr8Yj3UXB2geYOKrnfeAKdPEaE4oA8+KUMr8R9UGaS0Mo0uLjkDKiikYUJuoWKM3+4kX+ASttd8C6A=="/>
    <add key="DataContainer" value="qrcodes"/>
    <add key="DataImageContainer" value="images"/>
    <add key="StoragePath" value="https://stvalmontappdevcus001.blob.core.windows.net/"/>
    <add key="ClientId" value="750bd4fc-f00b-4b24-b5df-8d0be6cf843a"/>
    <add key="TenantId" value="8346fbf0-fbc5-44ab-b351-632105f6266f"/>
    <add key="ClientSecret" value="XeD8Q~dC5--KSbzrOoy37LpM6NEmEykYNLznhcW2"/>
    <add key="AppServiceClientId" value="ac4ceb3e-cd7e-4a9b-9368-8aa29ab263b3"/>
    <add key="AppServiceTenantId" value="8346fbf0-fbc5-44ab-b351-632105f6266f"/>
    <add key="AppServiceClientSecret" value="E7X8Q~yvZpRjkWlqo4lZzGmQL9i2GgeXaZXTGcvX"/>
    <add key="blobPath" value="https://stvalmontappdevcus001.blob.core.windows.net/images/VLogo1.png"/>
    <add key="qrCodeFunctionAppURL" value= "https://func-qrcodegenerator-dev-cus-001.azurewebsites.net/api/GenerateQRCode?code=1IIdx9yCt8xumofS1QlAF9GlK9h2jYXP7dauy59VtKkCAzFugba1lQ=="/>
    <add key="profileBaseURL" value="https://www.valmont.com/employee/profile/" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value = "c16fec2a-5528-41c4-8801-fcf37c1c9421"/>
  </appSettings>
</configuration>